
 html {
	 font-size: 18px;
	 line-height: 1.5;
	 font-weight: 700;
	 color: #333;
	 font-family: "Nunito Sans", sans-serif;
	 background-color: #f2f5fa;
	 padding: 50px ;
}
 body {
	 margin: 0;
	 padding: 50px;
	 height: 100vh;
	 background-color: #f2f5fa;
	 background-attachment: fixed;
	 text-align:center
}

table {
    border-collapse: collapse;
    letter-spacing: 1px;
    font-family: sans-serif;
	font-weight: bold;
    font-size: .8rem;
	margin: 0 auto;
	width: auto;
  	border-style: hidden;
	padding: 10px;
}

table td {
  border: 2px solid rgb(200, 200, 200);
	padding: 10px;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
	text-align:center;
}

.img-circle{
	width: 10%;
	margin: 0 auto;
	text-align:center;
	padding: 20px;
}